.git/*
env/
venv/
myenv/
.venv
.venv/
.vscode/

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

__pycache__/
*.py[cod]

.env
.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

static/
posts/static/
media/
sent_emails/

db.sqlite3
