{% extends "base.html" %}
{% block title %}Записи пользователя {{ author.username }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        {% include 'card_user.html' %}

        <div class="col-md-9"> 
            <div class="card mb-3 mt-1 shadow-sm">
                <div class="card-body">
                    {% include 'card_post.html' %}
                </div>
            </div>
        </div>
    </div>
</main> 

{% endblock %}
