{% extends "base.html" %}
{% block title %}Записи пользователя {{ author.username }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        {% include 'card_user.html' %}

    <div class="col-md-9">                
        {% for post in page %}
            <div class="card mb-3 mt-1 shadow-sm">
                <div class="card-body">
                    {% include 'card_post.html' %}

                    <a class="btn btn-sm text-muted" href={% url 'post' username=author.username post_id=post.id %} role="button">Добавить комментарий</a>

                </div>
            </div>
        {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}

        {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator%}
        {% endif %}
    </div>
</main> 

{% endblock %}
